@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: "Nunito Sans", sans-serif;
}


body {
  background-image: url("/bg/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

[type='checkbox'], [type='radio'] {
  border-color: #CBD5E1;
}

[type='checkbox']:checked, [type='radio']:checked {
  background-color: #00A2DE !important;
}

[type='checkbox']:focus, [type='radio']:focus {
  border-color: #00A2DE !important;
  outline-color: #00A2DE !important;
  outline-width: 1px !important;
}
